<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Rejoindre la famille des pousses !</h1>
  </div>
</header>


<!-- Body -->
<div class="container">
  <div class= "mb-3 mt-3  shadow p-3 mb-5 bg-white rounded">
    <h2 class="hh3 mb-3 font-weight-normal text-center text-success">Vous pouvez nous faire grandir</h2>
    <p class="text-center">Plus satisfaisant qu'une recolte du potager si durement entretenu? C'est le partage sur les reseaux sociaux de vos rencontres et le follow de nos pages instagram et facebook. C'est grace a ces actions que nous aurons plus de portée et accueillerons toujours plus de nouvelle recrue a la main verte pour paratger des moments inoubliables en gardant a l'esprit que la nature est un formidable allié.  </p>
    <br>
    <p class="text-center">Amener des jardins en ville, et re-faire decouvrir une passion vitale mais aussi qui apporte un sentiment de bien-etre, ce qui est pour nous un enjeu fondamentale dans la socité d'aujourd'hui, c'est pour ca que nous comptons sur vous.</p>
    <br>
    <p class="text-center">Plantons ensemble les graines d'un monde meilleur !</p>
    <center>
    <img src="https://media.giphy.com/media/Z9QGyT1RQL00318Lzz/giphy.gif" alt="this slowpoke moves"  width=750/>
    <br><br><br>

      <%= link_to "https://www.instagram.com/coupdepousse.thp/" do %>
        <i class="icon-caret-right"></i>
        <span class=>Instagram</span>
      <% end %>
      <%= link_to "https://www.facebook.com/coup.de.pousse.thp" do %>
        <i class="icon-caret-right"></i>
        <span class=>facebook</span>
      <% end %>
    </center>
  </div>

</div>