<div class="message-show my-2">
  <div class="message-sent">
    <span class="text-muted"><%= message.user.name %></span><br>
    <p class='text-message'><%= message.body %></p>
  </div>
    <p class='text-date-show text-muted'> <%= message.timestamp %></p>
</div>