<div class="container bg-light-primary text-center my-5">
  <br>
  <h3>Quel est l'objet de votre message ?</h3><br>

  <div class="border-chat border text-left">

  <%= form_with(model: [@user, @chat_room], local: true) do |form| %>
    <div class="form-group">
      <%= form.label :title, "Objet" %>
      <%= form.text_field :title, autofocus: true, class: 'form-control' %>
    </div>

    <%= form.submit "Suivant", class: 'btn btn-primary' %>
  <% end %>
  </div>

  <br>
</div>