<div class="container bg-light-primary my-5">
   <br>
   <h2 class="text-center">Mes messages</h2>
    <br>
   <%@chat_rooms.each do |chat_room|%>
      <li><%= link_to "#{chat_room.title} avec #{chat_room.pen_pal(current_user)}", user_chat_room_path(current_user.id, chat_room.id) %></li>
   <%end%>
   <br>
</div>