<div class="container bg-light-primary my-5">
  <br>
  <h2 class="text-center">Mes messages</h2><br>

  <div class="card w-50 text-align">
  <div class="card-header">
    Conversations 
  </div>
    <%@chat_rooms.each do |chat_room|%>
      <ul class="list-group list-group-flush">
        <li><%= link_to "#{chat_room.title} avec #{chat_room.pen_pal(current_user)}", user_chat_room_path(current_user.id, chat_room.id), class: 'ist-group-item' %></li>
      </ul>
    <%end%>
  </div>

  <br>
</div>