<h1>Hello jeune pousse !</h1>

<p>Un futur co-jardinier vous a fait une demande de rendez-vous !</p>
<p>Date du rendez-vous : <%=@appointment.start_date%></p>
<p>Le co-jardinier vous adresse le message suivant :</p>
<p>"<%=@appointment.message_contact%>"</p>
<p>N'hésitez pas à consulter <%= link_to "son profil", user_url(@appointment.guest.id)%></p>

<p>Vous pouvez modifier ou supprimer ce rendez-vous depuis <%= link_to "votre profil", user_url(@appointment.host.id)%></p>


<p>À bientôt sur Coup de pousse !</p>