<div class="card gossip-card" style="width: auto;">
  <div class="card-body">
    <% if current_user.first_name == "" %>
      <h4>Commentaire by <%= current_user.email.split('@')[0] %></h4>
    <% else %>
      <h4>Commentaire by <%= current_user.first_name %></h4>
    <% end %>
  
    <hr/>
    <p><%= comment.content %></p>
    <div class="d-flex">
    <button class="btn btn-outline-success mx-auto">
      <%= link_to "Editer le comm'", edit_garden_comment_path(@garden.id, comment.id)%>
    </button>
    </div>
  </div>
</div>