<div class="card gossip-card" style="width: auto;">
  <div class="card-body">
    <h4>Commentaire by <%= current_user.email + " " + "(" + current_user.first_name + " " + current_user.last_name + ")" %></h4>
    <hr/>
    <p><%= comment.content %></p>
    <div class="d-flex">
    <button class="btn btn-outline-info mx-auto">
      <%= link_to "Editer le comm'", edit_garden_comment_path(@garden.id, comment.id)%>
    </button>
    </div>
  </div>
</div>