<p>Bonjour jeune pousse !</p>

<p>Une demande de changement de mot de passe nous a été envoyée. Pour y procéder, suivez le lien suivant :</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email</p>
<p>Votre mot de passe ne sera pas changé jusqu'à ce que vous validiez sa modification.</p>

<p>À bientôt sur Coup de pousse</p>
