<header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  LOGO
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="#">Home</a></li>
                     <li><a href="#">About</a></li>
                     <li><a href="#">Blog</a></li>
                     <li><a href="#">Contact</a></li>
                     <li><a href="#">Contact</a></li>
                     <li><a href="#">Contact</a></li>
                  </ul>
               </div>
            </nav>

      <% if current_user != nil %>
        <h2 class="mb-3">Bonjour <%= current_user.first_name %> !
      <% end %>
        <br><br>
        Partagez la passion de la terre grâce au cojardinage<h2>

</header>